:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}
html, body{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Navbar styles */
.container {
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
}
#navbar {
  --navbar-height: 74px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#navbar img{
    width: 55px;
    height: 55px;
}

.navbar-text{ 
  margin-left: 20px
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link{
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  align-items: center;
}
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}


#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 100;
  right: 0;
}


#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: hsla(330, 10%, 60%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
  padding: 1em;
}
/* Theme page styles */
.theme-page {
    position: relative;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}



.image-mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(FF, FF, FF, 1), rgba(0, 0, 0, 0));
}

.theme-page-left h1{
    box-shadow: -4px 6px black;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 70px;
    position: absolute;
    top: 50vh;
    left: 10%;
}
.theme-page-left p{
    width: 300px;
    text-shadow: -4px 6px rgba(0, 10%, 20%, 0.6);
    color: white;
    font-weight: 600;
    position: absolute;
    top: 75vh;
    left: 10%;
}

#cloud-circle {
    width: 170px;
    height: 85px;
    border-radius: 50%;
    filter: url(#filter);
    box-shadow: 0px 400px 80px 0px #fff;
    position: absolute;
    top: -40%;
    left: -620px;
    animation: moveCloud 20s linear infinite;
    transform: rotateX(51deg);
}
#cloud-circle2 {
    width: 170px;
    height: 85px;
    border-radius: 50%;
    filter: url(#filter);
    box-shadow: 0px 400px 60px 0px #fff;
    position: absolute;
    top: -220px;
    left: -620px;
    animation: moveCloud 29s linear infinite;
    transform: rotateX(48deg);
}
@keyframes moveCloud {
  0% {
    left: -250px;
  }
  100% {
    left: 100%;
  }
}
/* Section styles */
.about-box,  .other-page-box {
    width: 90%;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-box{
 display: flex;
 justify-content: space-between;
 color: var(--navbar-text-color);
 background-color: var(--navbar-bg-color);
 width: 100%;
}
.about-box img{
    width 25px;
    height: 50px;
}

.other-page-box{
  color: hsl(0, 40%, 40%);
  background-color: #fefefe;
  padding: 30;
}

.activities-box{
   display: flex;
   flex-wrap: wrap;
   background-color: hsla(120, 30%, 10%, 0.5);
   justify-content: space-between;
   align-items: center;
}

.activities-box h1{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: hsla(300, 100%, 10%, 1.0);
  margin-top: 20px;
  text-shadow: 10px 10px hsla(300, 10%, 50%, 0.5);
}
.activities-box img{
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 6px 6px;
}
.activities-box .activity-child:last-child img{
  width: 250px;
  height: 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 6px 6px;
}

.activity-child {
  flex: 1;
  text-align: center;
}

.activity-child p{
  color: white;
}

.activity-Fuji {
  text-align: center;
}
.activity-Fuji img{
  width: 100%;
  mergin-left: -40px;
}
}
.other-page-box span{
    color: black !important;
    font-size: 16px;
}
.
.contact{
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 20%, 20%, 1.0);
}

.qr-code {
  display: none;
  position: absolute;
  z-index: 10;
  left: -190px; /* Position it to the left of the LINE logo */
  top: -30px; /* Align it with the top of the LINE logo */
}

.qr-code img{
  width: 130px;
  height: 130px;
}
.qr-code a{
  left: -100px;
}
.line-container{
  position: relative;
  display: inline-block;
}

.line-container:hover .qr-code{
  display: block;
}
#social-media{
  position: relative;
  display: flex;
  align-items: center;
}
.footer-box{
  display: flex;
  align-items: center;

}
.address-box{
  display: flex;

}
.footer-box h1{
    margin-left: 10px;
   
}
.footer-box img:first-child{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
.footer-box img:last-child{
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .theme-page-left h1{
    box-shadow: -4px 6px black;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 72%;
    left: 10%;
}
.theme-page-left p{
    width: 350px;
    text-shadow: -4px 6px rgba(0, 10%, 20%, 0.6);
    color: white;
    font-weight: 600;
    position: absolute;
    top: 87%;
    left: 11%;
}
.contact h1{
    margin-left: auto;
    text-shadow: -10px 6px lightpink;
    font-size: 12px;
}
.contact img{
    width: 50px;
    height: 50px;
}
.footer-box h1{
    margin-left: 10px;
    font-size: 12px;
   
}
.footer-box img:first-child{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.footer-box img:last-child{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.about-box,  .other-page-box {
    width: 90%;
    margin-left: 20px;
    margin-right: 40px;
}
#navbar img{
    width: 45px;
    height: 45px;
}

.navbar-text{ 
  margin-left: 10px
}
}

